<div id="<%= dom_id flight %>">
  <p>
    <strong>Departure:</strong>
    <%= flight.departure %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= flight.arrival %>
  </p>

  <p>
    <strong>Startdatetime:</strong>
    <%= flight.startdatetime %>
  </p>

  <p>
    <strong>Flightduration:</strong>
    <%= flight.flightduration %>
  </p>

</div>
