<p style="color: green"><%= notice %></p>

<% content_for :title, "Flights" %>

<h1>Flights</h1>
<%= render 'form' %>
<div id="flights">
  <% @flights.each do |flight| %>
  <%= puts params%>
    <%= render flight %>
    <p>
      <%= link_to "Show this flight", flight %>
    </p>
  <% end %>
</div>

<%= link_to "New flight", new_flight_path %>
